<o-form-Layout-manager attr="ComprasCAB" mode="tab" title="COMPRASCAB">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ComprasCABTable" 
            service="ComprasCAB" 
            entity="ComprasCAB" 
            title="COMPRASCAB"
            keys="idCabCompras"
            columns="SerieNmero;Fecha;RaznSocial;BaseImponible;ImporteIVA;ImporteRecargoEq;TotalAlbCompra;idCabCompras;ImporteIVAReducido;ImporteIVASuperReducido;ImporteIVAAceitesPastas;BaseIVAReducido;BaseIVASuperReducido;BaseIVAAceitesPastas;BaseIVACero;ImporteIVAGeneral;BaseIVAGeneral;TotalAlbCalculado;tpcDtoProntoPago;tpcDtoGlobal;Tienda;NCuentaProveedor;idTienda" 
            header-actions="R;D"
            visible-columns="SerieNmero;Fecha;RaznSocial;BaseImponible;ImporteIVA;ImporteRecargoEq;TotalAlbCompra;idCabCompras;ImporteIVAReducido;ImporteIVASuperReducido;ImporteIVAAceitesPastas;BaseIVAReducido;BaseIVASuperReducido;BaseIVAAceitesPastas;BaseIVACero;ImporteIVAGeneral;BaseIVAGeneral;TotalAlbCalculado;tpcDtoProntoPago;tpcDtoGlobal;Tienda;NCuentaProveedor;idTienda"  
            sort-columns="SerieNmero" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #SerieNmero attr="SerieNmero" title=" Serie Nmero*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-date-input #Fecha attr="Fecha" type="date" label="Fecha" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #RaznSocial attr="RaznSocial" title="RaznSocial" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #BaseImponible attr="BaseImponible" title="BaseImponible" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #ImporteIVA attr="ImporteIVA" title="ImporteIVA" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #ImporteRecargoEq attr="ImporteRecargoEq" title="ImporteRecargoEq" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #TotalAlbCompra attr="TotalAlbCompra" title="TotalAlbCompra" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #idCabCompras attr="idCabCompras" title="idCabCompras" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #ImporteIVAReducido attr="ImporteIVAReducido" title="ImporteIVAReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #ImporteIVASuperReducido attr="ImporteIVASuperReducido" title="ImporteIVASuperReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #ImporteIVAAceitesPastas attr="ImporteIVAAceitesPastas" title="ImporteIVAAceitesPastas" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #BaseIVAReducido attr="BaseIVAReducido" title="BaseIVAReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #BaseIVASuperReducido attr="BaseIVASuperReducido" title="BaseIVASuperReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #BaseIVAAceitesPastas attr="BaseIVAAceitesPastas" title="BaseIVAAceitesPastas" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #BaseIVACero attr="BaseIVACero" title="BaseIVACero" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #ImporteIVAGeneral attr="ImporteIVAGeneral" title="ImporteIVAGeneral" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #BaseIVAGeneral attr="BaseIVAGeneral" title="BaseIVAGeneral" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #TotalAlbCalculado attr="TotalAlbCalculado" title="TotalAlbCalculado" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #tpcDtoProntoPago attr="tpcDtoProntoPago" title="tpcDtoProntoPago" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #tpcDtoGlobal attr="tpcDtoGlobal" title="tpcDtoGlobal" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #Tienda attr="Tienda" title="Tienda" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #NCuentaProveedor attr="NCuentaProveedor" title="NCuentaProveedor" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #idTienda attr="idTienda" title="idTienda" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-Layout-manager>