<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="Tienda" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="ComprasLIN_form_edit" 
        service="ComprasLIN" 
        entity="ComprasLIN" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #Tienda attr="Tienda" label=" Tienda*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #NmeroAlbarn attr="NmeroAlbarn" label="NmeroAlbarn" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #AlbarnCompra attr="AlbarnCompra" label="AlbarnCompra" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #NombreProveedor attr="NombreProveedor" label="NombreProveedor" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #FechaAlbarn attr="FechaAlbarn" type="date" label="FechaAlbarn" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-currency-input #ImporteAlbarn attr="ImporteAlbarn" title="ImporteAlbarn" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-integer-input #ReferenciaProducto attr="ReferenciaProducto" label="ReferenciaProducto" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #OLDReferenciaProducto attr="OLDReferenciaProducto" label="OLDReferenciaProducto" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #DescripciondelProducto attr="DescripciondelProducto" label="DescripciondelProducto" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #CdigodeBarras attr="CdigodeBarras" label="CdigodeBarras" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-currency-input #PVPProducto attr="PVPProducto" title="PVPProducto" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #PrecioLnea attr="PrecioLnea" title="PrecioLnea" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #tpcIVA attr="tpcIVA" title="tpcIVA" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #tpcDescuento1 attr="tpcDescuento1" title="tpcDescuento1" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #tpcDescuento2 attr="tpcDescuento2" title="tpcDescuento2" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #tpcDescuento3 attr="tpcDescuento3" title="tpcDescuento3" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #tpcDescuento4 attr="tpcDescuento4" title="tpcDescuento4" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #tpcDtoGlobal attr="tpcDtoGlobal" title="tpcDtoGlobal" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #tpcDtoProntoPago attr="tpcDtoProntoPago" title="tpcDtoProntoPago" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-currency-input #Importe attr="Importe" title="Importe" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-integer-input #NCuentaProveedor attr="NCuentaProveedor" label="NCuentaProveedor" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #CantidadConCoste attr="CantidadConCoste" label="CantidadConCoste" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #CantidadGratis attr="CantidadGratis" label="CantidadGratis" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-currency-input #PrecioCoste attr="PrecioCoste" title="PrecioCoste" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-text-input #Lote attr="Lote" label="Lote" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #idTienda attr="idTienda" label="idTienda" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-date-input #FechaInventario attr="FechaInventario" type="date" label="FechaInventario" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #Cantidad attr="Cantidad" label="Cantidad" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
    </o-form>
  </o-form-container>
</div>