<o-breadcrumb [form]="TiendaForm" label-columns="" separator=" "></o-breadcrumb>
<o-form #TiendaForm attr="Tienda_form_insert" service="Tienda" entity="Tienda" 
keys="STOREDVALUE" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #STOREDVALUE attr="STOREDVALUE" label=" S T O R E D V A L U E*" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #DISPLAYVALUE attr="DISPLAYVALUE" label="DISPLAYVALUE" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>