<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="ID" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="StockTienda_form_edit" 
        service="StockTienda" 
        entity="StockTienda" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="Referencia;idTienda" 
        keys-sql-types="INTEGER;INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #ID attr="ID" label=" I D*" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-text-input #Tienda attr="Tienda" label="Tienda" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #Referencia attr="Referencia" label="Referencia" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #Marca attr="Marca" label="Marca" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Producto attr="Producto" label="Producto" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #ltimaVenta attr="ltimaVenta" type="date" label="ltimaVenta" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #ltimaCompra attr="ltimaCompra" type="date" label="ltimaCompra" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #Unidades attr="Unidades" label="Unidades" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PrecioCoste attr="PrecioCoste" label="PrecioCoste" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PrecioCosteConIVA attr="PrecioCosteConIVA" label="PrecioCosteConIVA" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PrecioCosteConIVA_Recargo attr="PrecioCosteConIVA_Recargo" label="PrecioCosteConIVA_Recargo" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PCM attr="PCM" label="PCM" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PCMconIVA attr="PCMconIVA" label="PCMconIVA" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PCMconIVA_Recargo attr="PCMconIVA_Recargo" label="PCMconIVA_Recargo" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PVP attr="PVP" label="PVP" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PVPsinIVA attr="PVPsinIVA" label="PVPsinIVA" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #idTienda attr="idTienda" label="idTienda" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #StockInicial attr="StockInicial" label="StockInicial" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #Entradas attr="Entradas" label="Entradas" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #Salidas attr="Salidas" label="Salidas" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #Stock attr="Stock" label="Stock" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-date-input #FechaInventario attr="FechaInventario" type="date" label="FechaInventario" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
    </div>
  </o-row>
      
    </o-form>
  </o-form-container>
</div>