<o-form #ClienteForm attr="Cliente_form_insert" service="Cliente" entity="Cliente" 
keys="NCuenta" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #Tipo attr="Tipo" label=" Tipo*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #FechaAlta attr="FechaAlta" type="date" label="FechaAlta" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #TipoCliente attr="TipoCliente" label="TipoCliente" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #DNI_CIF attr="DNI_CIF" label="DNI_CIF" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #BIC attr="BIC" label="BIC" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #IBAN attr="IBAN" label="IBAN" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #NCuenta attr="NCuenta" label="NCuenta" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #NombreCorto attr="NombreCorto" label="NombreCorto" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #NombreCompleto attr="NombreCompleto" label="NombreCompleto" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Calle attr="Calle" label="Calle" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ExtCalle attr="ExtCalle" label="ExtCalle" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Provincia attr="Provincia" label="Provincia" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #CodPostal attr="CodPostal" label="CodPostal" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Tlf attr="Tlf" label="Tlf" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Email attr="Email" label="Email" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Web attr="Web" label="Web" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #FPago attr="FPago" label="FPago" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #CC attr="CC" label="CC" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #DtoGl attr="DtoGl" label="DtoGl" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #NCopFact attr="NCopFact" label="NCopFact" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Contacto attr="Contacto" label="Contacto" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Recomendado attr="Recomendado" label="Recomendado" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Comentarios attr="Comentarios" label="Comentarios" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Notific attr="Notific" label="Notific" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #DeBaja attr="DeBaja" label="DeBaja" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #FechaBaja attr="FechaBaja" type="date" label="FechaBaja" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #CreadorPor attr="CreadorPor" label="CreadorPor" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-currency-input #SumaVentas attr="SumaVentas" title="SumaVentas" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-integer-input #PuntosGenerados attr="PuntosGenerados" label="PuntosGenerados" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #PuntosUsados attr="PuntosUsados" label="PuntosUsados" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-currency-input #SaldoParaPuntos attr="SaldoParaPuntos" title="SaldoParaPuntos" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-text-input #Localidad attr="Localidad" label="Localidad" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>