<o-breadcrumb [form]="ComprasCABForm" label-columns="" separator=" "></o-breadcrumb>
<o-form #ComprasCABForm attr="ComprasCAB_form_insert" service="ComprasCAB" entity="ComprasCAB" 
keys="idCabCompras" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #SerieNmero attr="SerieNmero" label=" Serie Nmero*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #Fecha attr="Fecha" type="date" label="Fecha" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #RaznSocial attr="RaznSocial" label="RaznSocial" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-currency-input #BaseImponible attr="BaseImponible" title="BaseImponible" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #ImporteIVA attr="ImporteIVA" title="ImporteIVA" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #ImporteRecargoEq attr="ImporteRecargoEq" title="ImporteRecargoEq" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #TotalAlbCompra attr="TotalAlbCompra" title="TotalAlbCompra" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-integer-input #idCabCompras attr="idCabCompras" label="idCabCompras" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-currency-input #ImporteIVAReducido attr="ImporteIVAReducido" title="ImporteIVAReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #ImporteIVASuperReducido attr="ImporteIVASuperReducido" title="ImporteIVASuperReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #ImporteIVAAceitesPastas attr="ImporteIVAAceitesPastas" title="ImporteIVAAceitesPastas" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #BaseIVAReducido attr="BaseIVAReducido" title="BaseIVAReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #BaseIVASuperReducido attr="BaseIVASuperReducido" title="BaseIVASuperReducido" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #BaseIVAAceitesPastas attr="BaseIVAAceitesPastas" title="BaseIVAAceitesPastas" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #BaseIVACero attr="BaseIVACero" title="BaseIVACero" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #ImporteIVAGeneral attr="ImporteIVAGeneral" title="ImporteIVAGeneral" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #BaseIVAGeneral attr="BaseIVAGeneral" title="BaseIVAGeneral" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #TotalAlbCalculado attr="TotalAlbCalculado" title="TotalAlbCalculado" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #tpcDtoProntoPago attr="tpcDtoProntoPago" title="tpcDtoProntoPago" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-currency-input #tpcDtoGlobal attr="tpcDtoGlobal" title="tpcDtoGlobal" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-text-input #Tienda attr="Tienda" label="Tienda" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #NCuentaProveedor attr="NCuentaProveedor" label="NCuentaProveedor" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #idTienda attr="idTienda" label="idTienda" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>